@model List<Transacciones>
@section navigation{

}

@{
    int numeropagina = 1;
    int registros = (int)ViewData["NUMEROREGISTROS"];
}

<div class="alert alert-primary" id="inicio">
    Bienvenido @ViewData["USUARIO"]
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@* Modificar la línea inferior cuando se implementen las sesiones para evitar que se vean las transacciones del resto de usuarios *@


@if (ViewData["CADENA"] != null)
{
    @ViewData["CADENA"]
}

@if (TempData["MENSAJE"] != "" && TempData["MENSAJE"] != null)
{
    <div class="alert alert-success">
        @TempData["MENSAJE"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="msg">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}



<div class="jumbotron">


    <ul class="list-group list-group-horizontal">
        @for (int i = 1; i <= registros; i += 4)
        {
            if (ViewData["SALARIO"] == null)
            {
                <li class="list-group-item">
                    <a asp-controller="Trabajadores"
                       asp-action="PaginarTrabajadores"
                       asp-route-posicion="@i">
                        @numeropagina
                    </a>
                </li>
            }
            else
            {
                <li class="list-group-item">
                    <a asp-controller="Trabajadores"
                       asp-action="PaginarTrabajadores"
                       asp-route-posicion="@i"
                       asp-route-salario="@ViewData["SALARIO"]">
                        @numeropagina
                    </a>
                </li>
            }
            numeropagina += 1;
        }
    </ul>


    <div class="mb-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Nueva transaccion
        </button>
    </div>
    @if (Model == null)
    {
        <br />

        <h4>Aún no tiene ninguna transacción, ¿desea crear <a data-toggle="modal" data-target="#exampleModal" asp-action="NuevaTransaccion" asp-controller="Transacciones">una?</a></h4>

    }
    else
    {

        <div class="table-responsive">
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Tipo de ingreso
                        </th>
                        <th>
                            Concepto
                        </th>
                        <th>
                            Fecha
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Transacciones trns in Model)
                    {
                        var tm = "#myModal" + trns.IdTransaccion;
                        var mid = "myModal" + trns.IdTransaccion;

                        <tr>
                            <td>@trns.Cantidad</td>
                            <td>@trns.TipoTransaccion</td>
                            <td>@trns.Concepto</td>
                            <td>@trns.FechaTransaccion</td>
                            <td>
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="@tm">
                                    Eliminar
                                </button>
                            </td>



                            <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" style="float: left;" class="close" data-dismiss="modal" aria-hidden="true">&times; Cerrar</button>
                                            <h4 class="modal-title" id="myModalLabel">Confirmar eliminación</h4>
                                        </div>
                                        <div class="modal-body">
                                            ¿Seguro que quiere eliminar esta transacción? Una vez eliminada no se podrá recuperar.
                                        </div>
                                        <div class="modal-footer">
                                            <form method="post" asp-action="Delete">
                                                <input type="number" value="@trns.IdTransaccion" name="idtransaccion" hidden />
                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                            </form>

                                            @*@Html.ActionLink("Delete", "Delete", new { idtransaccion = trns.IdTransaccion }, new { _class = "text-danger" })*@
                                            <button type="button" class="btn btn-Primary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>






<!-- Modal nueva transacción -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva transacción</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="NuevaTransaccion">
                    <div class="form-group">
                        <input name="IdUsuario" value="@ViewData["user"]" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cantidad: </label>
                        <input type="number" name="Cantidad" class="form-control" /> €
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tipo de transacción</label>
                        <select name="TipoTransaccion" class="form-control">
                            <option value="Ingreso">Ingreso</option>
                            <option value="Gasto">Gasto</option>
                        </select>

                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Concepto</label>
                        <input name="Concepto" class="form-control" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        window.setTimeout(function () {
            $("#inicio").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);

        window.setTimeout(function () {
            $("#msg").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 5000);
    </script>
}